body{
    background-image: url(weatherimg.jpg);
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-family: 'Oswald', sans-serif; 
}

.lead{
    text-align: center;  
    display: flex;
    border-left: 100px;
}

#searchBtn{
    background-color: green;
}

.form-group{
    align-content: center;
}

